<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautiful Page</title>
    <!-- Add Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">


<!--  -->

    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.css"> -->
<!-- <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.js"></script> -->
<style>

html, body {
    /* overflow: hidden; */
    width: 100%;
    height: 99%;
    margin: 0;
    padding: 0;
}
* {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}


.heading {
    display: flex;
    background-color: #232f3e;
    box-shadow: 0px 1px 2px #232f3e;

}
h1 {
    color: coral;
    font-weight: bold;
    
    background: transparent;
    padding: 7px;
    
}


.outer-wrapper {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    max-width: fit-content;
    max-height: fit-content;

    
}
.table-wrapper {
    overflow-y: scroll;
    height: fit-content;
    max-height: 66.4vh;
    margin-top: 22px;
    margin: 15px;
    padding-bottom: 20px;
    /* Add max-width property */
    max-width: 100%;
    
}


table {
    
    min-width: max-content;
    
    border-collapse: separate;
    border-spacing: 0px;    
    
}



table th{
    position: sticky; 
    top: 0px;
    
    background-color: #133b5c;
    color: rgb(241, 245, 179);
    
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    outline: 0.7px solid black;
    border: 1.5px solid black;

} 



table th, table td {
    
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

table td {
    text-align: left;
    
    font-size: 15px;
    border: 1px solid rgb(177, 177, 177);
    padding-left: 20px;
    
}

/* Style for the form container */
.search-form {
    margin-left: 10%;
}

/* Style for the input field */
.search-input {
    height: 30px;
    width: 200px;
    border: 1px solid #ccc; /* Add a border */
    border-radius: 20px; /* Add rounded corners */
    padding: 5px 10px; /* Add padding */
    outline: none; /* Remove the input focus outline */
}
.search-input-o {
    height: 30px;
    width: 70px;
    border: 1px solid #ccc; /* Add a border */
    border-radius: 20px; /* Add rounded corners */
    padding: 5px 5px; /* Add padding */
    outline: none; /* Remove the input focus outline */
}
/* Style for the search button */
.search-button {
    height: 30px;
    width: 50px;
    border: none; /* Remove the button border */
    border-radius: 20px; /* Add rounded corners */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    cursor: pointer; /* Add a pointer cursor on hover */
}

/* Hover effect for the search button */
.search-button:hover {
    background-color: #0056b3; /* Darker background color on hover */
}
/* .table {
    overflow-x: auto;
} */
/* Style for the form container */

.paginate_button {
  min-width: 4rem;
  display: inline-block;
  text-align: center;
  padding: 1rem 1.6rem;
  margin-top: -1rem;
  border: 2px solid lightblue;
  &:not(.previous) {
    border-left: none;
  }
  &.previous {
    border-radius: 8px 0 0 8px;
    min-width: 7rem;
  }
  &.next {
    border-radius: 0 8px 8px 0;
    min-width: 7rem;
  }

  &:hover {
    cursor: pointer;
    background-color: #eee;
    text-decoration: none;
  }
}

#example_paginate {
    padding-top: 20px;

}

/* Fix the pagination controls at the bottom */
#example_paginate {
    position: sticky;
    bottom: 0;
    background-color: #133b5c; /* Change this to your preferred background color */
    z-index: 1;
}

/* Style the pagination controls if needed */
#example_paginate .paginate_button {
    background-color: #133b5c; /* Change this to your preferred button background color */
    color: #fff; /* Change this to your preferred button text color */
    margin: 0 2px;
    border: 1px solid #133b5c; /* Change this to your preferred button border color */
    border-radius: 3px;
}

#example_paginate .paginate_button.current {
    background-color: coral; /* Change this to your preferred color for the current page button */
    color: #fff; /* Change this to your preferred text color for the current page button */
}
table thead{
    
    position: sticky;
    top: 0;
    background-color: #133b5c; /* Change this to your preferred background color */
    z-index: 2;
}

</style>
</head>
<body style="padding-left: 10px;padding-right: 5px;">
        <h1 class="mb-4">Date Selector and File Upload</h1>

        

        <!-- File Selector -->
        <form id="xmlUploadForm" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Date Pickers -->
        <div class="row mb-6">
            <div class="col-md-4">
                <label for="datePicker1">Start:</label>
                <input type="date" class="form-control" id="start_date" name="start_date" >
            </div>
            <div class="col-md-4">
                <label for="datePicker2">End:</label>
                <input type="date" class="form-control" id="end_date" name="end_date">
            </div>
            <div class="col-md-4">
                <label for="datePicker2">Forward:</label>
                <input type="date" class="form-control" id="forward" name="forward">
            </div>
            <div class="col-md-4">
                <label for="datePicker2">Account Balance:</label>
                <input type="text" class="form-control" id="balance" name="forward">
            </div>
            <div class="col-md-4">
                <label for="datePicker2">Wanted Drawdown:</label>
                <input type="text" class="form-control" id="Drawdown" name="forward">
            </div>
        </div>
            <div class="row mb-4">
                <div class="col-md-3">
                    <label for="fileInput">Forward Files:</label>
                    <input type="file" class="form-control-file" id="fileforward" name="fileforward" accept=".xml">
                </div>
                <div class="col-md-3">
                    <label for="fileInput">Backward Files:</label>
                    <input type="file" class="form-control-file" id="filebackward" name="filebackward" accept=".xml">
                </div>
                <div class="col-md-3">
                    <label for="fileInput">Upload .Set File:</label>
                    <input type="file" class="form-control-file" id="fileset" name="fileset" accept=".set">
                </div>
            </div>
            <hr>
            <br>
                     <!-- Submit Button -->
            <div class="row">
                <div class="col-md-1">
                    <button type="submit" id="parseButton" name="clear1" class="btn btn-primary">Submit</button>
                </div>
                
            
            </div>
            </form>    
            
            <hr>
            {% if messages %}
            <div  class="messages alert alert-danger" role="alert">
                <ul>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}


        <div id="toolbar">

          </div>
        <div class="outer-wrapper text-center">

      
            <!-- <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col-md-1">
                    <button type="submit" name="clear" class="btn btn-primary">Clear Your Data</button>
                </div>
            </form> -->
            <div class="card">
                <div class="row mt-2">
                    <div class="col-md-3" style="padding-top: 10px;">
                        <label for="profit_matchl">Profit Match</label>
                        <input id="profit_match_max" type="text" name="profit_match_max" value="{{ query }}" placeholder="Max" class="search-input-o">
                        <input id="profit_match_min" type="text" name="profit_match_min" value="{{ query }}" placeholder="Min" class="search-input-o">
                        <button type="button" id="clear_profit_match">Refresh</button>
                    </div>
                    <div class="col-md-3" style="padding-top: 10px;">
                        <label for="BackRecovery">Back</label>
                        <input id="BackRecovery" type="text" name="back_recovery_factor" value="{{ query }}" placeholder="Recovery Factor" class="search-input-o">
                        <label for="forwardRecovery">Forward</label>
                        <input id="forwardRecovery" type="text" name="forward_recovery_factor" value="{{ query }}" placeholder="Recovery Factor" class="search-input-o">
                    
                    </div>
                    <div class="col-md-3" style="padding-top: 10px;">
                        <label for="backResultFilter">Back</label>
                        <input id="backResultFilter" type="text" name="backResultFilter" value="{{ query }}" placeholder="Result" class="search-input-o">
                        <label for="forwardResultFilter">Forward</label>
                        <input id="forwardResultFilter" type="text" name="forwardResultFilter" value="{{ query }}" placeholder="Result" class="search-input-o">
                    
                    </div>
                 
                </div>
            </div>
            <br>
            <hr>

            <div class="table-wrapper">
      
          <table id="example" 
                 data-toggle="table"
                 data-search="true"
                 data-filter-control="true" 
                 data-show-export="true"
                 data-click-to-select="true"
                 data-toolbar="#toolbar">
            <thead>
              <tr>

              <!-- <th data-field="state" data-checkbox="true"></th> -->
              <th data-field="" data-filter-control="input" data-sortable="true" data-width="20">Optimisation Name</th>

              <th  data-field="examen" data-filter-control="select" data-sortable="true" >Back Pass</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Back Result</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Back Profit</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Back Recovery Factor</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Back Equity DD%</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Back Trades</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Forward Result</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Forward Profit</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Forward Recovery Factor</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Forward Equity DD%</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Forward Trades</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Profit Match %</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Total Original Profit</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Max Original DD</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Lot Multiple</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Estimated Total DD</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Estimated Profit</th>
              <th  data-field="examen" data-filter-control="select" data-sortable="true">Max DD</th>


              <th  data-field="examen" data-filter-control="select" data-sortable="">Download</th>


  
              </tr>
            </thead>
            <tbody>
              <!-- Table content goes here -->
              {% for page in pages %}
              <tr>
                  <td>{{ page.filename }}</td>
                  <td>{{page.back_pass}}</td>
                  <td>{{page.back_Result}}</td>
                  <td>{{page.back_Profit}}</td>
                  <td>{{page.back_Recovery_Factor}}</td>
                  <td>{{page.back_Equity_DD_d}}</td>
                  <td>{{page.back_Trades}}</td>
                  <td>{{page.forward_Forward_Result}}</td>
                  <td>{{page.forward_Profit}}</td>
                  <td>{{page.forward_Recovery_Factor}}</td>
                  <td>{{page.forward_Equity_DD_d}}</td>
                  <td>{{page.forward_Trades}}</td>
                  <td>{{page.profit_match}}</td>
                  <td>{{page.total_profit}}</td>
                  <td>{{page.max_original_dd}}</td>
                  <td><a href="" class="btn btn-primary">Download</a></td>







                  
              </tr>
              {% endfor %}
              
              
              
          </tbody>
          </table>

                </div>
        </div>

        <div id="target-div"></div>




    <script>
        function parseXMLAndGetDate(xmlContent) {
            // Parse the XML content
            const parser = new DOMParser();
            const xmlDoc = parser.parseFromString(xmlContent, 'text/xml');

            // Find the 'Title' element and extract its text
            const titleElement = xmlDoc.querySelector('Title');
            const titleText = titleElement ? titleElement.textContent : '';

            // Split the title text to extract start and end dates
            const titleParts = titleText.split('M1').slice(-1)[0].trim().split('-');
            const startDate = titleParts[0].replace(/\./g, '-');
            const endDate = titleParts[1].replace(/\./g, '-');

            return {
                start: startDate,
                end: endDate
            };
        }

        document.getElementById('fileforward').addEventListener('change', function (event) {
            checkDates();
        });

        document.getElementById('filebackward').addEventListener('change', function (event) {
            checkDates();
        });

        function checkDates() {
            const fileForward = document.getElementById('fileforward').files[0];
            const fileBackward = document.getElementById('filebackward').files[0];

            if (fileForward && fileBackward) {
                const readerForward = new FileReader();
                const readerBackward = new FileReader();

                readerForward.onload = function (eForward) {
                    readerBackward.onload = function (eBackward) {
                        const xmlContentForward = eForward.target.result;
                        const xmlContentBackward = eBackward.target.result;

                        const dateForward = parseXMLAndGetDate(xmlContentForward);
                        const dateBackward = parseXMLAndGetDate(xmlContentBackward);

                        if (dateForward.start === dateBackward.start && dateForward.end === dateBackward.end) {
                            // Dates match, display them
                            document.getElementById('start_date').value = dateForward.start;
                            document.getElementById('end_date').value = dateForward.end;
                            
                        } else {
                            // Dates don't match, show an error
                            document.getElementById('start_date').value = '';
                            document.getElementById('end_date').value = '';
                           
                        }
                    };

                    readerBackward.readAsText(fileBackward);
                };

                readerForward.readAsText(fileForward);
            }
        }

        
    </script>




<script>
    $(document).ready(function () {
        $('#filebackward').on('change', function () {
            // Assuming the file inputs have date values in their names or attributes
            var startDateValue = $('#fileforward').val(); // Get the date from the fileforward input
            var endDateValue = $('#filebackward').val();   // Get the date from the filebackward input
    
            // Set the input values with the date values from file inputs
            $('#start_date').val(startDateValue);
            $('#end_date').val(endDateValue);
    
            // Display the extracted date in the specified div
            $('#extractedDate').html('Extracted Date: ' + startDateValue + ' - ' + endDateValue);
        });
    });
    </script>








<script>
//     $(document).ready(function() {
//   $("#example").DataTable();
// });

</script>
<script>
// $(document).ready(function () {
//     var table = $('#example').DataTable();



    

//     $('#profit_match_min, #profit_match_max').on('input', function () {
//         var lowerLimit = parseFloat($('#profit_match_min').val().replace(',', '')) || null; // Remove commas if present
//         var upperLimit = parseFloat($('#profit_match_max').val().replace(',', '')) || null; // Remove commas if present

//         table.columns(12).search(function (value, index, row) {
//             var numericValue = parseFloat(value.replace(',', '')) || null; // Remove commas if present
            
//             if (lowerLimit === null && upperLimit === null) {
//                 return true; // Show all rows when limits are not specified
//             }

//             if (lowerLimit !== null && upperLimit !== null) {
//                 return numericValue >= lowerLimit && numericValue <= upperLimit;
//             }

//             if (lowerLimit !== null) {
//                 return numericValue >= lowerLimit;
//             }

//             if (upperLimit !== null) {
//                 return numericValue <= upperLimit;
//             }

//             return true; // Show all rows if no condition matches
//         }).draw();
//     });

//     // Handle clearing both input fields
//     $('#clear_profit_match').on('click', function () {
//         $('#profit_match_min').val('');
//         $('#profit_match_max').val('');
//         table.columns(12).search('').draw();
//     });

//     // Add event listeners to input boxes for filtering
//     $('#BackRecovery').on('input', function () {
//         var backResultFilterValue = this.value;
//         if (!isNaN(backResultFilterValue)) {
//             table.columns(4).search(backResultFilterValue).draw(); // 3 is the index of the "Back Result" column
//         }
//     });

//     $('#forwardRecovery').on('input', function () {
//         var backResultFilterValue = this.value;
//         if (!isNaN(backResultFilterValue)) {
//             table.columns(9).search(backResultFilterValue).draw(); // 3 is the index of the "Back Result" column
//         }
//     });



//     $('#backResultFilter').on('input', function () {
//         var backResultFilterValue = parseFloat(this.value);
//         if (!isNaN(backResultFilterValue)) {
//             table.columns(2).search(backResultFilterValue).draw(); // 3 is the index of the "Back Result" column
//         }
//     });

//     $('#forwardResultFilter').on('input', function () {
//         var forwardResultFilterValue = parseFloat(this.value);
//         if (!isNaN(forwardResultFilterValue)) {
//             table.columns(7).search(forwardResultFilterValue).draw(); // 4 is the index of the "Forward Result" column
//         }
//     });

// });
</script>
<script>
  

</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



<script>
document.addEventListener('DOMContentLoaded', () => {
  const xmlFileInput1 = document.getElementById('fileforward');
  const xmlFileInput2 = document.getElementById('filebackward');
  const submitButton = document.getElementById('parseButton');
  const startDateInput = document.getElementById('start_date');
  const endDateInput = document.getElementById('end_date');
  const forwardInput = document.getElementById('forward');
  const balance = document.getElementById('balance');
  const drawdown = document.getElementById('Drawdown');
  submitButton.addEventListener('click', async (e) => {
    e.preventDefault();

    const jsonDataArray = [];

    // Read the selected XML file from xmlFileInput2 with the name "back"
    const file2 = xmlFileInput2.files[0];
    if (!file2) {
      alert('Please select an XML file for the "back" input.');
      return;
    }

    const xmlData2 = await readFile(file2);
    const jsonData2 = await parseXML(xmlData2, 'back');
    jsonDataArray.push(jsonData2);

    // Read the selected XML file from xmlFileInput1 with the name "forward"
    const file1 = xmlFileInput1.files[0];
    if (!file1) {
      alert('Please select an XML file for the "forward" input.');
      return;
    }

    const xmlData1 = await readFile(file1);
    const jsonData1 = await parseXML(xmlData1, 'forward');
    jsonDataArray.push(jsonData1);

    // Display the parsed JSON data (you can modify this part as needed)
    const additionalData = {
      start_date: startDateInput.value,
      end_date: endDateInput.value,
      forward: forwardInput.value,
      filename: file1.name,
      balance:balance.value,
      drawdown:drawdown.value
    };

    // Include additional data in the JSON payload
    jsonDataArray.push(additionalData);
    // Send the JSON data to your Django backend (you can use fetch or other methods)
    sendJSONDataToDjango(jsonDataArray);
  });

  async function readFile(file) {
    return new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.onload = (event) => resolve(event.target.result);
      reader.onerror = (error) => reject(error);
      reader.readAsText(file);
    });
  }

  async function parseXML(xmlData, name) {
    return new Promise((resolve, reject) => {
      const parser = new DOMParser();
      const xmlDoc = parser.parseFromString(xmlData, 'text/xml');
      const headingRow = Array.from(xmlDoc.querySelectorAll('Row Cell Data')).map((cell) =>
        cell.textContent.trim()
      );

      const dataRows = Array.from(xmlDoc.querySelectorAll('Row')).slice(1).map((row) => {
        const rowData = {};
        Array.from(row.querySelectorAll('Cell Data')).forEach((cell, index) => {
          rowData[headingRow[index]] = cell.textContent.trim();
        });
        return rowData;
      });

      resolve({
        name: name,
        heading: headingRow,
        data: dataRows,
      });
    });
  }

  function sendJSONDataToDjango(jsonDataArray) {
    // Use fetch or other methods to send JSON data to your Django backend
    fetch('/upload_file/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken'), // Include the CSRF token in the request headers
      },
      body: JSON.stringify(jsonDataArray),
    })
      .then((response) => {
        if (response.ok) {
            return response.json(); 
            // alert('Success sending JSON data to Django.');
        } else {
          alert('Error sending JSON data to Django.');
        }
      })
      .then((data) => {
      // Populate the DataTable with the response data
      renderDataTable(data);
    })
      .catch((error) => {
        alert('Error sending JSON data to Django: ' + error.message);
      });
  }
  function renderDataTable(data) {
    const table1 = document.getElementById('example');
    const tbody = table1.querySelector('tbody');
    const jsonData = data.page;
    tbody.innerHTML = '';
    // Loop through the data and create table rows
    jsonData.forEach((page) => {
      const row = document.createElement('tr');
      row.innerHTML = `
        <td>${page.filename}</td>
        <td>${page.back_pass}</td>
        <td>${page.back_Back_Result}</td>
        <td>${page.back_Profit}</td>
        <td>${page.back_Recovery_Factor}</td>
        <td>${page.back_Equity_DD_d}</td>
        <td>${page.back_Trades}</td>
        <td>${page.forward_Result}</td>
        <td>${page.forward_Profit}</td>
        <td>${page.forward_Recovery_Factor}</td>
        <td>${page.forward_Equity_DD_d}</td>
        <td>${page.forward_Trades}</td>
        <td>${page.profit_match}</td>
        <td>${page.total_profit}</td>
        <td>${page.max_original_dd}</td>
        <td>${page.Lot_Multiple}</td>
        <td>${page.Estimated_Total_DD}</td>
        <td>${page.Estimated_Profit}</td>
        <td>${page.Max_DD}</td>

        <td><a href="" class="btn btn-primary">Download</a></td>
      `;

      tbody.appendChild(row);
    });
    $(document).ready(function() {
  $("#example").DataTable();
    });
    $(document).ready(function() {
    var table = $('#example').DataTable();



    

    $('#profit_match_min, #profit_match_max').on('input', function () {
    var lowerLimit = parseFloat($('#profit_match_min').val().replace(',', '')) || null;
    var upperLimit = parseFloat($('#profit_match_max').val().replace(',', '')) || null;
    console.log(lowerLimit)
    console.log(upperLimit)

    table.column(12).search(function (value, index, row) {
        var numericValue = parseFloat(value.replace(',', '')) || null;
        // console.log(lowerLimit)
        // console.log(upperLimit)


        if (lowerLimit === null && upperLimit === null) {
            console.log('1')
            return true; // Show all rows when limits are not specified
        }

        if (lowerLimit !== null && upperLimit !== null) {
            console.log('2')

            return numericValue >= lowerLimit && numericValue <= upperLimit;
        }

        if (lowerLimit !== null) {
            console.log('3')

            return numericValue >= lowerLimit;
        }

        if (upperLimit !== null) {
            console.log('4')

            return numericValue <= upperLimit;
        }

        return true; // Show all rows if no condition matches
    }).draw();
});







    // Handle clearing both input fields
    $('#clear_profit_match').on('click', function () {
        $('#profit_match_min').val('');
        $('#profit_match_max').val('');
        table.columns(12).search('').draw();
    
    });

    // Add event listeners to input boxes for filtering
    $('#BackRecovery').on('input', function () {
        var backResultFilterValue = this.value;
        if (!isNaN(backResultFilterValue)) {
            table.columns(4).search(backResultFilterValue).draw(); // 3 is the index of the "Back Result" column
        }
    });

    $('#forwardRecovery').on('input', function () {
        var backResultFilterValue = this.value;
        if (!isNaN(backResultFilterValue)) {
            table.columns(9).search(backResultFilterValue).draw(); // 3 is the index of the "Back Result" column
        }
    });



    $('#backResultFilter').on('input', function () {
        var backResultFilterValue = parseFloat(this.value);
        if (!isNaN(backResultFilterValue)) {
            table.columns(2).search(backResultFilterValue).draw(); // 3 is the index of the "Back Result" column
        }
    });

    $('#forwardResultFilter').on('input', function () {
        var forwardResultFilterValue = parseFloat(this.value);
        if (!isNaN(forwardResultFilterValue)) {
            table.columns(7).search(forwardResultFilterValue).draw(); // 4 is the index of the "Forward Result" column
        }
    });

});
};
  

  // Function to get the value of a cookie by name
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
  }
});


</script>


</body>

</html>


<!-- 
function sendJSONDataToDjango(jsonDataArray) {
    // Use fetch or other methods to send JSON data to your Django backend
    fetch('/upload_file/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken'), // Include the CSRF token in the request headers
      },
      body: JSON.stringify(jsonDataArray),
    })
    .then((response) => response.json()) // Parse the JSON response from Django

    .then((data) => {
      if (data && data.length > 0) {
        console.log('Hello');
        // Initialize the DataTable with the received JSON data
        $('#example').DataTable({
          data: data, // Pass the JSON data to DataTable
          columns: [
      { data: 'filename', title: 'Optimisation Name' },
      { data: 'back_pass', title: 'Back Pass' },
      { data: 'back_Back_Result', title: 'Back Result' },
      { data: 'back_Profit', title: 'Back Profit' },
      { data: 'back_Recovery_Factor', title: 'Back Recovery Factor' },
      { data: 'back_Equity_DD_d', title: 'Back Equity DD%' },
      { data: 'back_Trades', title: 'Back Trades' },
      { data: 'forward_Result', title: 'Forward Result' },
      { data: 'forward_Profit', title: 'Forward Profit' },
      { data: 'forward_Recovery_Factor', title: 'Forward Recovery Factor' },
      { data: 'forward_Equity_DD_d', title: 'Forward Equity DD%' },
      { data: 'forward_Trades', title: 'Forward Trades' },
      { data: 'profit_match', title: 'Profit Match %' },
      { data: 'total_profit', title: 'Total Original Profit' },
      { data: 'max_original_dd', title: 'Max Original DD' },
      { data: 'Lot_Multiple', title: 'Lot Multiple' },
      { data: 'Estimated_Total_DD', title: 'Estimated Total DD' },
      { data: 'Estimated_Profit', title: 'Estimated Profit' },
      { data: 'Max_DD', title: 'Max DD' },
      {
        data: null,
        title: 'Download',
        render: function (data, type, row) {
          return '<a href="" class="btn btn-primary">Download</a>';
        },
      },
          ],
        });
      } else {
        alert('No data received from Django.');
      }
    })
    .catch((error) => {
      alert('Error sending or receiving JSON data: ' + error.message);
    });
}
   -->
